/**
 * Remove borders from buttons
 */
button {
  border: none;
  color: inherit;
  background-color: transparent;
}

/**
 * Remove underline and visited color from anchor elements
 */
a, a:visited {
  color: inherit;
  text-decoration: none;
}
